<div class="fixed-top"><button class="btn active" 
    (click)="toggleSidebar()" 
    [ngClass]="{'on-sidebar': isSidebarOpen}">
    <img src="https://github.com/chiaraferrara/StudioGhibli/blob/3f4858a29cce95959742a40d7f1aca38e6b3d304/src/app/img/menu.png?raw=true" style="height: 20px"></button>


    <div class="card"
    *ngIf="isSidebarOpen"
    style="width: 150px;">
        <div class="card-header">
          Credits
        </div>
        <div class="card-body"
        style="text-align: center;"
        >
        I wanted to learn how to use Firebase so I made this project using Angular, Bootstrap and Firebase.<br>
        Work in progress.
        <a href="https://github.com/chiaraferrara"><img src="https://github.com/chiaraferrara/StudioGhibli/blob/56946933e0f028998ef3a97e6adc07c49962933c/src/app/img/github.png?raw=true" style= "width: 40px;"></a>
        <a href="https://angular.io/"><img src="https://github.com/chiaraferrara/StudioGhibli/blob/9140d4e3e77cdd0f757b9ede021bbbd650e7eada/src/app/img/angular_solidBlack.png?raw=true" style="width: 50px;"></a>
        </div>
      </div>
    </div>
